.nav{
    margin-top: 40px;
    margin-left: 50px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 60px;
}

.nav a{
    color: white;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding-right: 40px;
}

.blog{
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
  border: 1px solid white;
  padding: 20px;  
}

.blog__clue{
  margin-right: 40px;
  font-weight: 700;
}

.blog__name{
  margin-top: 10px;
}

.blog__name, .blog__categories, .blog__description{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

}

.blog__name, .blog__categories, .blog__description a{
    margin-right: 20px;
    margin-bottom: 10px;
}

.blog__edit{
    text-decoration: none;
    color: gray;
}

a:hover{
  color: yellow;
}

.modal-content{
  display: flex;
  flex-direction: column;
}

.modal-content input{
  margin-bottom: 15px;
}
